@import '../../styles/colors';

.gallery {
  text-align: center;

  .fade-enter {
    opacity: 0;
  }

  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: all 1000ms ease-in;
  }

  header {
    text-align: center;

    h1 {
      font-size: 4em;
      color: $color_primary;
    }
  }
}