@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import 'colors';

html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.button {
  cursor: pointer;
  font-family: "Francois One", sans-serif;
  font-size: 18px;

  color: $color_primary;
  transition: color 0.5s;
}

.button:hover, .button:active, .button:focus {
  color: darken($color_primary, 10);
  text-decoration: none;
}