@import '../../styles/colors';

.App_component {
  min-height: 100vh;

  @media (min-width: 992px) {
    width: 800px;
  }

  header {
    text-align: center;

    h1 {
      font-size: 4em;
      font-family: 'Francois One', sans-serif;
      color: $color_primary;
    }
  }
}