.image-view {
  text-align: center;

  animation: fadeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;

  margin-bottom: 20px;

  img {
    max-width: 100%;
    height: auto;
    margin: 15px 0;
  }

  h2 {
    text-transform: capitalize;
    font-size: 20px;
    font-family: "Francois One", sans-serif;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}