@import '../../styles/colors';


.image-card {
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 20px;
  transition: all 0.2s ease-out;

  @media (max-width: 500px) {
    margin: 5px;
  }
}

.image-card:hover {
  transform: scale(1.2);
}